.singlelineheader .experience .fa-shopping-bag::before {
    content: "";
}

.pd-mini-cart-logo {
    display: none;
}

.singlelineheader .pd-mini-cart-logo {
    width: 25px;
    height: 24px;
    position:absolute;
    display: block;
}

.singlelineheader .experience.minicart .minicart-quantity {
    left: auto;
    right: -.8rem;
    top: -0.7rem;
}

.minicart-quantity {
    background-color: #00bb36;
}

#minicartcontent {
    display: hidden;
}