#searchModal input {
  width: 100%;
  padding: 0px 10px;
  border: none;
}

#searchModal .suggestions {
  width: 100%;
}

#searchModal .modal-body {
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 544px) {
  #searchModal .modal-dialog {
    max-width: 990px;
  }
}

@media screen and (max-width: 544px) {
  #searchModal .suggestions {
    position: relative;
    margin: 0;
  }
  #searchModal .modal-buttons {
    padding: 1rem 2rem;
  }
}

#searchModal .modal-dialog {
  margin: 1.75rem auto;
  margin-top: 0;
}

#searchModal .modal-buttons {
  border: none;
}


#searchModal .modal-content {
  border: none;
}
