@import "variables";
@import "utilities/flex";
@import "utilities/mixins";
@import "./product/comparison";
@import "./storeLocator/storeLocator";

$sidebar-width: calculate-rem(250px);

.search-highlights {
    text-align: center;

    .results-for {
        @include mb(2);
        @include font-size(18px);

        .search-keywords {
            font-weight: $font-weight-bold;
        }
    }
}

.search-nav {
    border-bottom: 1px solid $search-filter-actions-bar-border;
    margin-bottom: -1px;
}

.filter-actions {
    border-bottom: 1px solid $search-filter-actions-bar-border;
    border-top: 1px solid $search-filter-actions-bar-border;

    .refinement-bar-toggle {
        cursor: pointer;
        flex: 0 0 $sidebar-width;
        opacity: 1;
        overflow: hidden;
        transition: flex-basis 0.4s ease-in-out;
        visibility: inherit;
        width: $sidebar-width;

        .refinement-bar-closed & {
            flex: 0 0 2rem;
            width: 2rem;
        }
    }

    .refinement-bar-toggle-label {
        bottom: 0;
        font-weight: $font-weight-bold;
        height: 1rem;
        left: 0;
        margin: auto;
        opacity: 1;
        position: absolute;
        text-transform: uppercase;
        top: 0;
        transition: opacity 0.4s ease-in-out;
        visibility: inherit;
        white-space: nowrap;

        .refinement-bar-closed & {
            opacity: 0;
        }
    }

    .filter-bar {
        border-left: 1px solid $search-filter-actions-bar-border;
        border-right: 1px solid $search-filter-actions-bar-border;

        .filter-items {
            height: 100%;
            list-style: none;
            margin: 0;
            padding-left: 0;
        }

        .swatch {
            height: 30px;
            width: 30px;
        }
    }

    .sort {
        width: $sidebar-width;

        label {
            color: $search-filter-actions-label;
            font-weight: $font-weight-bold;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        .form-control {
            flex: 1;
        }
    }
}

.refinement-bar-container {
    flex: 0 0 $sidebar-width;
    margin-right: 2rem;
    opacity: 1;
    transform: translateZ(0);
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, flex-basis 0.4s ease-in-out;
    visibility: inherit;
    width: $sidebar-width;

    @include media-breakpoint-down(sm) {
        background-color: $search-refinement-background;
        height: 100%;
        margin: 0;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateY(100vh);
        transition: transform 0.2s ease-in-out;
        width: 100%;
        z-index: 1060;

        .refinement-bar {
            width: 100% !important;
        }

        .refinement-bar-open & {
            transform: translateY(0);
        }

        .filter-header {
            background-color: $search-refinement-background;
            border-bottom: 1px solid $search-refinement-border;
            left: 0;
            position: sticky;
            right: 0;
            top: 0;
            transform: translate3d(0, 0, 0);
            z-index: 1;
        }

        .filter-footer {
            background-color: $search-refinement-background;
            border-top: 1px solid $search-refinement-border;
            bottom: 0;
            left: 0;
            position: sticky;
            right: 0;
            transform: translate3d(0, 0, 0);
            z-index: 1;
        }

        .refinements {
            padding: 1rem;
        }
    }

    @include media-breakpoint-up(md) {
        .refinement-bar {
            width: $sidebar-width;
        }
    }

    .refinement-bar-closed & {
        flex: 0 0 0;
        margin-right: 0;
        opacity: 0;
        visibility: hidden;
        width: 0;
    }

    .close {
        @include font-size(16px);
    }
}

.refinements {
    .refinement-header {
        border-bottom: 1px solid $search-refinement-header-border;
        cursor: pointer;

        h6 {
            color: $search-refinement-header-text;
            font-weight: $font-weight-bold;
            margin-bottom: 0;
            text-transform: uppercase;
        }
    }

    .category-attribute {
        &.selected {
            .refinement-link {
                font-weight: $font-weight-bold;
            }
        }

        .fa-angle-right {
            color: $search-refinement-indent;
            transform: rotate(135deg);

            @include mx(2);
        }
    }

    .refinement-link {
        color: $search-refinement-text;

        &.selected {
            font-weight: $font-weight-bold;

            &.swatch-white {
                &::before {
                    color: invert($search-refinement-text);
                }
            }
        }

        .fa-check {
            left: 3px;
        }
    }

    .size-box {
        border: 1px solid $search-refinement-size-border;
        height: 40px;
        width: 40px;

        @include p(1);
        &.selected {
            background-color: $search-refinement-size-selected-background;
            border: 1px solid $search-refinement-size-selected-background;
            color: $search-refinement-size-selected-color;
        }
    }

    .swatch {
        height: 30px;
        width: 30px;

        @include swatch-check-mark;
    }

    .fa-stack {
        height: 1rem;
        line-height: 1rem;
        width: 1rem;

        i {
            vertical-align: inherit;
        }
    }

    .values {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .value {
        position: relative;
        top: -1px;
    }

    .price-attribute {
        .value {
            position: relative;
            top: -3px;
        }
    }

    @include toggle($search-refinement-header-text);
}
